
.body{
    font-family: 'Noto Sans JP', sans-serif;

    font-family: 'Roboto', sans-serif;
}
body, html { 
    overflow-x:hidden;
}

@media all and (min-width: 480px) {
    .deskContent {display:block;}
    .phoneContent {display:none;}
}

@media all and (max-width: 479px) {
    .deskContent {display:none;}
    .phoneContent {display:block;}
}

.navbar{
   background-color: transparent;
}
.navbar_black{
  background-color: transparent;
}

.margint_reduced{
    margin-top: -10px;
}

.transparent_background{
    background-color: transparent;
}


.section { 
    position: relative;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

.white_text{
    color: white;
}
.black_text{
  color: black;
}

.secondary_text{
    color: #FFAD41;
}

.box_button{
    background-color: #FFAD41;
    border: 2px solid #FFAD41; 
}
.inner-left-bottom2{
    position: absolute;
    bottom:40%;
    left:60%;
}

.inner-right-center{
  position: absolute;
  bottom:40%;
  left:30%;
}
.hero1 {
 
    height: 100vh;
    width: 100%;
    display: flex;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('/img/background_bike_main.jpg');
   
    position: relative;
}

.hero1::before {    
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4.7rem;
      background: url("/svg/Trazado\ 2.svg") center no-repeat;
      background-size: cover;
}

.hero2 {
 
  height: 50vh;
  width: 100%;
  display: flex;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('/img/background_bike_second.jpg');
 
  position: relative;
}

.hero2::before {    
    content: "";
    position: absolute;
    left: 0;
    
    width: 100%;
    height: 4.7rem;
    background: url("/svg/Trazado\ 1.svg") center no-repeat;
    background-size: cover;
}
.hero2::after {    
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height:3.4rem;
  background: url("/svg/Trazado\ 7.svg") center no-repeat;
  background-size: cover;
}

.hero3 {
 
  height: 50vh;
  width: 100%;
  display: flex;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('/img/background_bike_3.jpg');
 
  position: relative;
}

.hero3::before {    
    content: "";
    position: absolute;
    left: 0;
   
    width: 100%;
    height: 3.4rem;
    background: url("/svg/Trazado\ 71.svg") center no-repeat;
    background-size: cover;
}
.hero3::after {    
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 3.4rem;
  background: url("/svg/Trazado\ 2.svg") center no-repeat;
  background-size: cover;
}

.background_image2{
  height: 100vh;
    width: 100%;
    
    background-attachment: fixed;
    background-size: cover;
    background-image: url('/img/background_bike_main.jpg');
   
    position: relative;
}

.center_content {
    position: absolute;
    bottom:40%;
    left:20%;
    overflow: auto;
}
.desktop_rage_length{
    width: 100%;
    
  }


  .slider_phone {
    -webkit-appearance: none;
    width: 50%;
    height: 8px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider_phone::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #FFAD41;
    cursor: pointer;
    border-color: #FFAD41;
  }
  
  .slider_phone::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFAD41;
    cursor: pointer;
    border-color: #FFAD41;
  }
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #FFAD41;
    cursor: pointer;
    border-color: #FFAD41;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFAD41;
    cursor: pointer;
    border-color: #FFAD41;
  }

  .border_text{
    
    text-align: center;
    border-bottom-style: solid; 
    padding-bottom: 15px; 
    border-width: 2px;
    width: 60%;
    border-color: #FFAD41;
  }
  button.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFAD41;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto';
    font-weight:300;
    color:#FFAD41;
    text-align:center;
    transition: all 0.2s;
  }
  button.button1:hover{
    color:#FFFF;
    background-color:#FFAD41;
  }
@media all and (max-width:30em){
  button.button1{
    display:block;
    margin:0.4em auto;
    }
  } 

  button.button2{
    display:inline-block;
    padding:0.35em 1.2em;
    background-color:  #FFAD41;
    margin:0 0.3em 0.3em 0;
    border-radius:0.05em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto';
    font-weight:300;
    color:#FFF;
    text-align:center;
    transition: all 0.2s;
  }
  button.button2:hover{
    color:#FFFF;
    background-color:#cf8728;
  }
@media all and (max-width:30em){
  button.button2{
    display:block;
    margin:0.4em auto;
    }
  } 
  .fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }

  .hero4 {
 
    height: 50vh;
    width: 100%;
    display: flex;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('/img/background_bike_second.jpg');
   
    position: relative;
  }
  
  .hero4::before {    
      content: "";
      position: absolute;
      left: 0;
      
      width: 100%;
      height: 4.7rem;
      background: url("/svg/Trazado\ 1.svg") center no-repeat;
      background-size: cover;
  }

  .btn-link {
    color: #ececec;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}
  .btn-link:hover {
    color: #ececec;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}





.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #161616;
  color: #FFF;
  margin: 1rem 0;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  color: #FFAD41;
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active{
  border-radius: 0.2rem;
  background-color: #faa22e;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  
}

.accordion-item-header.active::after {
  color: #FFF;
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  font-weight: 300;
  background-color: #ffad42;
  border-radius: 0.2rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-color: #ff9e1f;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.rowmod {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tachar{
  text-decoration:line-through;
  color: #FFAD41;
}

.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: red;
   
  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
  transform:rotate(-10deg);
}