
.range2{
  height: 80px;
  width: 100%;
  padding: 0 60px 0 40px;
}
.range2 .sliderValue2{
  position: relative;
  width: 100%;
}
.show{

  color: #fff;
  
}
.range2 .sliderValue2 span{
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.range2 .sliderValue2 span.show{
  transform: translateX(-70%) scale(1);
}
.range2 .sliderValue2 span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #FFAD41;
  color: #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.range2 .field2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.range2 .field2 .value{
  position: absolute;
  font-size: 18px;
  color: #FFAD41;
  font-weight: 600;
}
.range2 .field2 .value.left{
  left: 0%;
  top: -2%;
}
.range2 .field2 .value.right{
  top: -2%;
  right: -10%;
}
.range2 input{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 1px;
  outline: none;
  border: none;
  z-index: 0;
}
.range2 input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #FFAD41;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range2 input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #FFAD41;
  border: 1px solid #FFAD41;
  cursor: pointer;
}
.range2 input::-moz-range-progress{
  background: #FFAD41;
}
