
.range{
  height: 80px;
  width: 90%;
  padding: 0 90px 0 65px;
}
.range .sliderValue{
  position: relative;
  width: 100px;
  
}
.show{
  color: #fff;
}
.range .sliderValue span{
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.range .sliderValue span.show{
  transform: translateX(-30%) scale(1);
}

.range .field{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.range .field .value{
  position: absolute;
  font-size: 18px;
  color: #FFAD41;
  font-weight: 600;
}
.range .field .value.left{
  left: -8%;
}
.field .value.right{
  right: -10%;
}
.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 0;
}
.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #FFAD41;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #FFAD41;
  border: 1px solid #FFAD41;
  cursor: pointer;
}
.range input::-moz-range-progress{
  background: #FFAD41;
}
